<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/style.css" rel="stylesheet" type"text/css" />            
    </head>
    
    <body>
        <% include partials/nav.ejs %>
            
        <div>
            <h1> TEL: 123-456-789 </h1>
            <p>Thanks for getting in touche!</p>
            <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
            <p> We will mail to you at <%= data.email %>.</p>
        </div>


    </body>

</html>