<html>

<head>
    <title>Add album</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script src="/assets/album.js"></script>

    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include layout.ejs %>

        <div class="content">
            <form>
                <label for="artist">Artist: </label>
                <input type="text" id="artist" placeholder="Artist" />
                <label for="album">Album: </label>
                <input type="text" id="album" placeholder="Album" />
                <label for="year">Year: </label>
                <input type="text" id="year" placeholder="Year" />
                <label for="length">Length: </label>
                <input type="text" id="length" placeholder="Length" />
                <label for="genre">Genre: </label>
                <input type="text" id="genre" placeholder="Genre" />
                <button type="submit">Add album</button>
            </form>

            <label for="file-img">Add image</label>
            <input type="file" id="file-img" style="display:none">
            <button type="submit" id="img-submit">Sub</button>
        </div>
</body>

</html>