<html>

<head>
    <title>Add album</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script src="/assets/addAlbum.js"></script>

    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include layout.ejs %>

        <div class="content">
                <form class="form-horizontal" role="form"
                enctype="multipart/form-data" method="POST"
                action="/add-album">
            <!-- <form id="frmUploader" enctype="multipart/form-data" action="add-album" method="post" > -->
                <label for="artist">Artist: </label>
                <input type="text" id="artist" name="artist" placeholder="Artist" />
                <label for="album">Album: </label>
                <input type="text" id="album" name="album" placeholder="Album" />
                <label for="year">Year: </label>
                <input type="text" id="year" name="year" placeholder="Year" />
                <label for="length">Length: </label>
                <input type="text" id="length" name="length" placeholder="Length" />
                <label for="genre">Genre: </label>
                <input type="text" id="genre" name="genre" placeholder="Genre" />

                <input type="file" id="file" name="img" />
                <input type="submit" id="btnSubmit"  />
            </form>
        </div>
</body>

</html>