<html>
    <head>
        <title>Images list</title>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        
        <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
    
            <% images.forEach(function(image){ %>
                <div class='images-img'>

                    <img src='/img/<%= image._id %>' />
                    <div style="clear: right"></div>
                </div>            
            <% }) %>
    </body>
</html>